@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 3;
}

.section__first {
    width: 100vw;
    position: relative;
    background-image: url("../accets/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section__first:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.header {
    position: relative;
    z-index: 4;
    background-color: black;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 0;
}

.header-logo_link {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-nav {
    display: flex;
    list-style-type: none;
}

.header-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: capitalize;
    width: 113.8px;
    height: 75px;
    text-align: center;
    margin: 1px 0;
    transition: 0.3s;
}

.header-nav__item:hover {
    background-color: #EC7979;
}

.header-nav__item:active {
    background-color: #AB4949;
}

.header-logo_link:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.main__container {
    display: flex;
    justify-content: space-between;
}

.main-content__logo {
    margin: 207px 0 50.88px 0;
}

.main-content__description {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    padding: 0 0 55.12px 0;
    text-transform: uppercase;
}

.main-content__description:after {
    content: "";
    position: absolute;
    width: 170px;
    bottom: 0;
    height: 1px;
    background: #FFFFFF;
}

.main-content__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin: 42px 0 42px 0;
}

.main-content__button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin: 0 0 185px 0;
    cursor: pointer;
    transition: 0.3s;
}

.main-content__button:hover {
    border: 2px solid #EC7979;
    background: #EC7979;
}

.main-content__button:active {
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFFFFF;
}

.form-item {
    width: 470px;
    height: 450px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    margin: 207px 0 0 0;
}

.form-item__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    text-transform: uppercase;
    padding: 33px 0;
    margin: 0 0 0 53px;
}

#pink {
    color: #EC7979;
}


#name-form {
    display: block;
    width: 370px;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    margin: 45px 0 0 50px;
    padding: 0 0 16px 0;
    outline: none;
}

#email-form {
    display: block;
    width: 370px;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    margin: 33px 0 0 50px;
    padding: 0 0 16px 0;
    outline: none;
}

#password-form {
    display: block;
    width: 370px;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    margin: 33px 0 0 50px;
    padding: 0 0 16px 0;
    outline: none;
}

.main__form__button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    background-color: #EC7979;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 75px 0 0 0;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.main__form__button:hover {
    content: "";
    background-color: #AB4949;;
}

.main__form__button:active {
    content: "";
    background-color: #EC7979;;
}

.section__six {
    width: 100vw;
    background-color: #F8EFEF;
}

.media {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.media-title {
    padding: 18px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.media-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 18px 0 18px 0;
}

.media-navigation {
    margin: 33px 0 35px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.media-navigation_item {
    margin: 0 30px 0 0;
}

.media-navigation_item:first-child {
    margin-left: 30px;
}

.media-navigation_item:last-child {
    margin: 0;
}

.section__second {
    margin: 99px 0 0 0;
}

.tab-item {
    display: flex;
    flex: 0 0 auto;
    width: 184px;
    height: 40px;
    align-items: center;
}

.first {
    width: 204px;
    border: 1px solid #C6CBCD;
    border-bottom: 2px solid white;
    border-radius: 4px 4px 0 0;
    justify-content: center;
}

.second {
    justify-content: center;
}

.third {
    justify-content: center;
}

.tab-item__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

}

.tab__container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
    margin-top: -1px;
}

.container-item {
    vertical-align: top;

}

.container-item__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    width: 570px;
    font-size: 30px;
    text-align: left;
    margin:0 0 0 100px;
    padding: 47px 0 47px 0;
}

.container-item__text {
    font-family: 'Raleway', sans-serif;
    width: 570px;
    font-size: 18px;
    text-align: left;
    margin: 27px 30px 27px 100px;
}


.container-item__button {
    display: block;
    background-color: #EC7979;
    width: 270px;
    height: 58px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    margin: 0 0 54px 100px;
    cursor: pointer;
    transition: 0.3s;
}

.container-item__button:hover {
    background: #AB4949;
}

.container-item__button:active {
    background: #EC7979;
}

.tab-image {
    width: 100%;
    height: 100%;

}

.awesome {
    margin: 50px 0 58px 0 ;
}

.title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    padding: 0 0 57px 0;
    text-transform: uppercase;
}

.awesome__title {
    height: 150px;
    padding: 57px 0 0 0;

}

.title:after {
    content: "";
    position: absolute;
    width: 170px;
    bottom: 0;
    height: 1px;
    background: #EC7979;
    left: 50%;
    transform: translate(-50%, -50%);
}

.awesome__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin: 40px 0 71px 0;
}

.awesome__content {
    display: flex;
    /* margin: 0 30px 0 0; марджин справа от последнего*/
}

.awesome__block {
    flex: 0 0 33.333%;
}

.item-awesome__image {
    margin: 0 auto;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EC7979;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-awesome__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    padding: 38px 0;
    /* margin-bottom: 39px 0 8px 0;*/
}

.item-awesome__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    align-items: center;
    text-align: center;
}

.section__fourth {
    background-color: #F5F5F5;
}

.title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    text-transform: uppercase;
    padding: 0 0 57px 0;
}

.pricing__title {
    padding: 57px 0;
    margin: 50px 0 40px 0;
}

.title:after {
    content: "";
    position: absolute;
    width: 170px;
    bottom: 0;
    height: 1px;
    background: #EC7979;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pricing__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
    margin-bottom: 59px;
}

.pricing__section {
    display: flex;
    justify-content: space-between;
    margin: 79px 0 0 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.pricing__title{
    padding: 53.87px 0;
}
.pricing-item{
    width: 370px;

}
.pricing-item:last-child{
    margin-right: 0;
}
.pricing-item__title {
    font-family: "Open Sans", sans-serif;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding: 11px 0;
}

.pricing-item__price {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    color: #FFFFFF;
    text-align: center;
    padding: 25px 0;

}

.pricing-item__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0 14px 0;
}

.pricing-item__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 50px;
    background-color: #FFFFFF;
    border: 2px solid #F5F5F5;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 14px;
}

.pricing-item {
    margin: 0 0 50px 0;
}

.pricing-item:hover {
    position: relative;
    top: -20px;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.2);
}

.customer {
    margin: 50px 0 64px 0;
}

.customer__title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    text-transform: uppercase;
    padding: 53.87px 0;
}

.customer__title:after {
    content: "";
    position: absolute;
    width: 170px;
    bottom: 0;
    height: 1px;
    background: #EC7979;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customer__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin: 40px 0 71px 0;
}

.item-customer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
}

.content-block{
    width: 370px;
}
.content-block__text {
    position: relative;
    background-color: #E2E2E2;
    text-align: center;
    padding: 38px 0 37px 0;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}

.content-block__text:after {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    top: 100%;
    left: 80px;
}

.content-block__img {
    margin: 46px 0 0 0;
    align-items: center;

}

.customer-info {
    display: flex;
    align-items: center;
}

.content-block__title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 66px 0 0 30px;
    padding: 15px 0;
}

.content-block__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0 0 30px;
}

.content-block__list {
    text-align: left;
}

.section__nine {
    background-color: #000000;
    background-size: cover;

}

.footer-navigation {
    display: flex;
    justify-content: center;
}

.navigation-img {
    margin: 35px 32.8px 27.8px 0;
}

.navigation-img:last-child {
    margin-right: 0;
}

.footer-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 0 0 27px 0;
}

.contactus__title {
    height: 150px;
    padding: 57px 0 0 0;

}

.title:after {
    content: "";
    position: absolute;
    width: 170px;
    bottom: 0;
    height: 1px;
    background: #EC7979;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactus__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin: 40px 0 89px 0;
}

.contactus__content {
    display: flex;
    justify-content: space-between;

}

textarea {
    resize: none;
    outline: none;
    border: none;
}

#name-form-second {
    display: block;
    width: 571px;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    padding: 0 0 16px 0;
    outline: none;
}

#email-form-second {
    display: block;
    width: 571px;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    padding: 0 0 16px 0;
    margin: 50px 0;
    outline: none;
}

#password-form-second {
    display: block;
    width: 571px;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    padding: 0 0 16px 0;
    margin: 50px 0;
    outline: none;
}

#message {
    display: block;
    width: 569px;
    height: 209px;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    margin: 0 0 0 30px;
    outline: none;
}

.contactus_button {
    display: flex;
    justify-content: center;
}

.button-form {
    width: 370px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #EC7979;
    color: #FFFFFF;
    border: none;
    padding: 20px 0;
    cursor: pointer;
    margin: 0 0 50px 0;
    transition: 0.3s;
}

.button-form:hover {
    background: #AB4949;
}

.button-form:active {
    background: #EC7979;
}

.section__ten {
    position: relative;
    background-image: url("../accets/town.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section__ten:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.stylish__title {
    color: #FFFFFF;
    padding: 57px 0;
    margin: 50px 0 40px 0;
}

.stylish__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 1.5px 0;
    text-align: center;
    margin: 0 0 73px 0;
}

.stylish__title:after {
    content: "";
    background-color: #FFFFFF;
}

.stylish__button {
    display: flex;
    justify-content: center;
}

.button-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 370px;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin: 0 0 50px 0;
    cursor: pointer;
    transition: 0.3s;
}

.button-item:hover {
    border: 2px solid #EC7979;
    background: #EC7979;
}

.button-item:active {
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFFFFF;
}






@media (max-width: 1024px) {
    .wrapper {
        max-width: 1024px;
    }

    .header-block {
        margin: 0 0 0 115.28px;
    }

    .header-logo_link {
        justify-content: center;
    }

    .main-content__description {
        font-size: 36px;
        padding: 0 0 41.49px 0;
    }

    .main-content {
        margin: 0 0 0 115.28px;
    }

    .main-content__description:after {
        width: 115.28px;
    }

    .main-content__text {
        font-size: 14px;
        margin: 31px 0 31.2px 0;
    }

    .main-content__button {
        width: 183.1px;
        height: 50px;
    }

    .header-nav__item {
        width: 113px;
        margin: 0.15px 0;
    }

    .main-content__logo {
        margin: 136.84px 0 37.61px 0;
    }


    .form-item {
        width: 398px;
        height: 450px;
        margin: 137px 20px 0 0;
    }

    .form-item__title {
        font-size: 18px;
        padding: 36px 0;
        text-align: center;
        margin: 0;
    }

    #name-form {
        width: 298px;
    }

    #email-form {
        width: 298px;
    }

    #password-form {
        width: 298px;
    }

    .header-logo_link:hover {
        transform: scale(0.8);
        text-align: center;
    }

    .media__content {
        margin: 0 0 0 16px;
    }

    .media-title {
        font-size: 18px;
    }

    .media-text {
        font-size: 14px;
    }

    .media-navigation {
        margin: 0 16px 0 0;
    }

    .section__second {
        margin: 50px 16px 0 16px;
    }

    .tab-item {
        width: 156.01px;
    }

    .first {
        width: 172.12px;
    }

    .container-item__title {
        width: 482.89px;
        font-size: 24px;
        padding: 32.5px 0 32.5px 0;
        margin:0 0 0 84.68px;
    }

    .container-item__text {
        width: 482.89px;
        font-size: 14px;
        margin: 38px 26.21px 38px 84.68px;
    }


    .container-item__button {
        width: 231.87px;
        height: 58px;
        margin:0 0 50px 85.69px;
    }

    .tab-image {
        width: 100%;
        height: 100%;
    }

    .title {
        font-size: 24px;
        padding: 0 0 57px 0;
    }

    .awesome__title {
        height: 120px;
        padding: 48px 0 0 0;

    }

    .title:after {
        width: 142px;
    }

    .awesome{
        margin: 50px 0 60px 0;
    }
    .awesome__text {
        font-size: 14px;
        margin: 32px 0;
    }

    .item-awesome__image {

    }

    .item-awesome__title {
        font-size: 18px;
        padding: 32px 0;
        /* margin-bottom: 39px 0 8px 0;*/
    }

    .item-awesome__text {
        font-size: 14px;
    }

    .pricing__title {
        padding: 45.91px 0;
    }

    .pricing__text {
        font-size: 14px;
        text-align: center;
        color: #86878B;
        margin:32px 0 49.74px 0;
    }

    .pricing__section {
        display: flex;
        justify-content: space-between;
        margin: 49.74px 18px 0 14px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .pricing-item{
        width: 317px;

    }

    .customer {
        margin: 50px 16px 57px 16px;
    }

    .customer__title {
        font-size: 24px;
        padding: 45.91px 0;
    }

    .customer__title:after {
        width: 142px;
    }

    .customer__text {
        font-size: 14px;
        margin: 32px 0;
    }

    .item-customer {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .content-block{
        width: 317px;
    }
    .content-block__text {
        padding: 50px 0;
        font-size: 14px;
    }

    .content-block__text:after {
        border-left: 12.85px solid transparent;
        border-right: 12.85px solid transparent;
    }

    .content-block__img {
        margin: 46px 0 0 0;
    }

    .content-block__title {
        font-size: 18px;
        margin: 46px 0 0 20.08px;
        padding: 9px 0;
    }

    .content-block__description {
        font-size: 14px;
        margin: 9px 0 0 20.08px;
    }

    .stylish__title {
        padding: 48px 0;
        margin: 45.91px 0;
    }

    .stylish__text {
        font-size: 14px;
        padding: 1px 0;
        margin: 32px  0;
    }

    .button-item {
        width: 318px;
        height: 58px;
    }

}


















@media (max-width: 320px) {
    .wrapper {
        max-width: 254px;
    }
}